/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* my css */

/* common css */

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
p{
  font-size: 12px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;

  flex-wrap: wrap;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 20px;
  color: white;
}
.header {
  padding: 40px;
  position: absolute;
  left: 0;
  right: 0;
}
.icons {
  color: white;
}

.nav-bar a {
  padding-left: 20px;
  text-decoration: none;
  color: white;
}
.twitter {
  padding-left: 20px;
  padding-right: 20px;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: red;
  margin-right: 60px;
  margin-left: 10px;
}
h2 {
  font-size: 40px;
  color: white;
}
.p {
  color: white;
}
.inquiry {
  width: 300px;
  height: 50px;
  margin-top: 20px;
  padding-top: 20px;
}
.flex-2-part {
  padding-top: 30px;
}
.btn-2 {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: transparent;
  border: 1px solid white;
}
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #145faf6e, #023f13ad),
    url(../home-bg.jpg);

  height: 700px;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;

}
.section-2{
  margin-top: 3%;
}
.small-box {
  color: rgb(168, 167, 167);
  font-size: 10px;
  margin-bottom: 10px;
}
.left-box {
  width: 30%;
}

.percent-box {
  width: 30%;
}
.person-pik {
  width: 30%;
}
.hr-1 {
  width: 300px;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}
.hr-2 {
  width: 320px;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}
.hr-3 {
  width: 280px;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
}
.hr-4 {
  width: 250px;
  text-align: left;
  display: inline-block;
}
.person-pik img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: 3%;
}
.section-3 {
  background-color: #efefef;
  margin-top: 5%;
}
.our-blog {
  text-align: center;
  padding: 30px;
}
.our-blog i {
  color: rgb(168, 167, 167);
  font-size: 10px;
}
h5 {
  font-size: 25px;
}
.box-1 {
  background-color: white;
  width: 49%;
  margin-bottom: 20px;
}
.text-red {
  color: red;
  font-size: 10px;
  margin-bottom: 20px;
}
.blog-heading {
  font-size: 16pxpx;
  font-weight: 500;
  padding-bottom: 20px;
}
.right-box {
  margin: 20px;
}

.btn-3 {
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.gallery img {
  width: 230px;
  margin: 10px;
}
.section-4 {
  text-align: center;
  margin-bottom:10%;
}
.section-5 {
  height: 500px;
  

  background: linear-gradient(to right, #1478e3, #7df065);
}
.contact-us {
  color: white;
}
.input {
  width: 45%;
  margin: 12px;
  padding: 7px 15px;
  border-radius: 5px;
  border: none;
}
.input-1 {
  width: 95%;
  margin-left: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}
.btn-4 {
  margin-left: 9px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: red;
  color: white;
}

.map iframe {
  border-radius: 50%;
  object-fit: cover;
}
.form-block {
  width: 50%;
}
.footer {
  background: linear-gradient(to right, #414141, #020202);
  color: white;
  padding: 30px 0;
}

.footer-sub-left {
  width: 30%;
}
ul{
  font-size: 10px;
}
.service {
  margin: 0 60px 20px 60px;
}
.find-us {
  margin-bottom: 40px;
}
.footer-sub-left h5{
  margin-bottom: 20px;
  margin-top: 10px;
}
.footer-hr{
  width: 80%;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(44, 43, 43);
}
.footer-icons{
  display: flex;
  justify-content: space-around;
}
